extends ../layout

block content
    a(class="create-btn" href='/admin/articles/create') Create Article
    if (articles.length)
        div(class="table items")
            div(class="row")
                div="Title"
                div="Date"
                div="Edit"
                div="Delete"
            div(class="table-contents")
                    each article in articles
                        div(class="item row")
                            div
                                h2=article.title
                            div
                                time!= moment(article.date).format("M/D/Y hh:mm")
                            div
                                a(href="articles/edit/" + article.id) Edit
                            div
                                a(href="articles/delete/" + article.id) Delete