extends ../layout

block content
    a(class="create-btn" href='/admin/nav-items/create') Create Navigation Item
    if (navItems.length)
        div(class="table items")
            div(class="row")
                div="Title"
                div="Date"
                div="Edit"
                div="Delete"
            div(class="table-contents sortable" id="nav-sort-table")
                each navItem in navItems
                    div(class="item row" item-id=navItem.id)
                        div
                            h2=navItem.title
                        div
                            h2=navItem.url
                        div
                            a(href="nav-items/edit/" + navItem.id) Edit
                        div
                            a(href="nav-items/delete/" + navItem.id) Delete
            a(class="sort-save-btn btn" onclick="saveSort('nav-sort-table', '/admin/nav-items/orderUpdate')")="Save order"