extends ../layout

block content
    body
        form(action="/admin/post-types/update/"+postType.id method="POST")
            p Title:
                input(type="text" name="title" value=postType.title)
            br
            p Url:
                input(type="text" name="url" value=postType.url)
            br
            p Fields:
                div(id="repeat")
                    div(class="table wrapper items")
                        div(class="row")
                            div="Title"
                            div="Type"
                            div="Delete"
                        div(class="table-contents container" id="field-table")

                            // Adding existing custom fields
                            if postType.fields
                                each field, index in postType.fields
                                    div(class="item row" id="type-template")
                                        div
                                            input(type="text" name="fields["+index+"][field_name]" value=field.field_name)
                                        div
                                            select(name="fields["+index+"][field_type]" value=field.field_type)
                                                each fieldType in fieldTypes
                                                    if (fieldType.name == field.field_type)
                                                        option(selected)=fieldType.name
                                                    else
                                                        option=fieldType.name
                                        div
                                            a(class="remove") Delete

                            // Custom fields template
                            div(class="item template row")
                                div
                                    input(type="text" name="fields[{{row-count-placeholder}}][field_name]")
                                div
                                    select(name="fields[{{row-count-placeholder}}][field_type]")
                                        each fieldType in fieldTypes
                                            option=fieldType.name
                                div
                                    a(class="remove") Delete
                                    
                        a(class="add") Add field
            input(type="submit")
    script(src="/javascripts/repeatable-fields.js")
    script. 
        jQuery("#repeat").repeatable_fields();